.permissionModal {
  position: fixed;
  width: 1000px;
  top: 10%;
  left: 50%;
  margin-left: -500px;
  height: 87%;
  border-radius: 5px;
  padding: 5px;
  z-index: 3;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.permissionModalTop {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: fit-content;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 98%;
}

.permissionModalTop h2 {
  margin: 0
}

.permissionModalTop button {
  outline: none;
  border: none;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

.permissionModalTop button:hover {
  color: orange
}

.permissionModalInput {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  width: 95%;
  margin-bottom: 5px;
  border-bottom: 1px solid grey
}

.permissionModalInput input {
  width: 50%;
  height: 30px
}

.permissionModalMiddle {
  height: 40%;
  overflow-y: auto;
}

.groupsWrapper {
  display:flex;
  justify-content: space-between;
}

.groupBox {
  display: flex;
  flex-direction: column;
 
}

.groupBoxHeader {
  font-weight: 500;
  font-size: 14px
}

.groupBoxResults {
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  height: fit-content;
  width: 450px;
  border-radius: 5px;
  margin: 5px 8px;
  padding: 2px 15px 2px 5px;
  overflow-y: auto;
  overflow-x: hidden;

}

.permissionModalBottom {
  width: 95%;
  height: 50%;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}

.permissionModalResults {
  width: 48%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.userPermBox {
  width: 390px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  padding: 2px 5px;
  border-radius: 5px;
}

.userPermBox:hover {
  background-color: rgb(252, 231, 193);
}

.userPermBox div{
  display: flex;
  flex-direction: column;
}

.permissionWarning {
  color: rgb(255, 115, 0)
}

.userPermMail {
  font-size: 10px;
  width: 300px;
}

.userPerm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userPerm button {
  outline: none;
  border: none;
  font-size: 9px;
  cursor: pointer;
  transition: 0.2s;
}

.userPerm button:hover {
  background-color: rgb(252, 189, 113);
}

.draggable{
  border-bottom: 3px solid rgb(139, 139, 139);
  cursor: row-resize;
  height: 5px;
  width: 100%;
  transition: 0.2s;
  margin-bottom: 15px;
  position: relative;
}

.draggable:hover {
  border-bottom: 3px solid orange
}

.draggable:before {
  content:'';
  position: absolute;
  left:50%;
  width: 10px;
  height: 10px;
  border-bottom:  3px solid rgb(139, 139, 139);
}

.draggable:hover:before{
  border-bottom:  3px solid orange
}
