@import '~@fluentui/react/dist/sass/References.scss';

.siteOverviewMsf {
  overflow: hidden;
  padding: 1em;
  color: black;
}

.overviewWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.overviewWrapper h1 {
  margin: 5px
}

.overviewWrapper h1 a {
  text-decoration: none;
  color: black;
}

.overviewWrapper h1 a:hover {
  color: bisque
}

.overviewWrapper h1 a:active, .overviewWrapper h1 a:visited {
  color: inherit
}

.overviewWrapper h3 {
  margin: 2px
}

.tabButtons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tabButtons button {
  outline: none;
  border: none;
  width: 20%;
  height: 30px;
  border-radius: 5px 5px 0 0;
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.tabButtons button:hover {
  background-color: #ffcf95;
}

.tabSelected {
  background-color: white;
  border-top: 1px solid #ffae4b !important;
  border-left: 1px solid #ffae4b !important;
  border-right: 1px solid #ffae4b !important;
  position: relative;
  top:1px;
  font-weight: 500;
}

.tabSelected:hover {
  background-color: white !important;
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #fcbd71;
  padding-bottom: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,.1);
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 61%, rgba(250,250,250,1) 100%);
}

.detailsWrapperButton {
  outline: 0;
  border: 0;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(119, 119, 119);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

.detailsWrapperButton:hover {
  background-color: bisque;
  color: rgb(36, 36, 36)
} 

.displayedNum {
  font-size: 10px;
}

.resultsWrapper {
  height: 500px;
  padding: 5px;
  overflow-y: scroll;
}

.resultsWrapper::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
}

.resultsWrapper::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
}

.resultsWrapper::-webkit-scrollbar-thumb:hover {
  background-color: bisque;
}

.resultsWrapper::-webkit-scrollbar-track {
  background-color: rgb(250, 250, 250);
}

.resultsWrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.resultsWrapper ul li {
  display: flex;
  justify-content: center;
}

.resultsFilterInputBox {
  margin: 2px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.resultsFilterInput {
  width: 95%;
  padding: 3px;
  margin: 2px;
  border-radius: 5px;
  height: 25px;
  border: 0;
  outline: none;
  background-color: #ffffff;
}

.resultsFilterInput:focus {
  border: 1px solid orange
}


.detailsWrapper ul li {
  margin: 2px 0;
}

.itemBoxWrapper {
  display: flex;
  align-items: start;
  position: relative
}

.itemBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  border: 1px solid rgba(167, 167, 255,0);
  transition: 0.2s;
}

.itemBoxTop {
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: relative;
  z-index: 2;
  border-radius: 5px;
  padding: 2px;
  //box-shadow: 0 0 2px rgba(0,0,0,0.5);
  transition: 0.2s;
  background-color: white;
  cursor: pointer
}

.itemBoxTop:hover {
  background-color: #fff2e1;
}

.itemBoxTop:hover .arrow {
  color: #fcbd71 !important 
}

.itemBoxTopSelected {
  background-color: #fff2e1;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2)
}

.itemBoxTopLeft {
  display: flex;
  width: 500px
}

.itemBoxSiteLink {
  transition: 0.2s;
  padding: 1px 8px;
  border-radius: 10px
}

.itemBoxSiteLink:hover{
  background-color: rgb(255, 193, 78)
}

.itemBoxTopRight {
  width: 200px;
  display: flex;
  justify-content: end;
}

.arrow {
  outline: none;
  border: none;
  background-color: rgba(0,0,0,0);
  width: 30px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  color: #afafaf;
  transition: 0.2s;
  cursor: pointer;
}

.arrow:hover {
  color: #fcbd71;
}

.arrowOpened {
  transform: rotate(90deg) !important;
  font-size: 14px;
  color: #fcbd71;
}

.itemBoxTop a {
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.itemBoxTop a:visited, .itemBoxTop a:active {
  color: inherit
}

.itemBoxBottom {
  padding: 5px;
  width: 95%;
  background-color: #fff8ef;
  display: relative;
  z-index: 1;
}


.detailsButton {
  outline: 0;
  border: 0;
  width: 100%;
  text-align: center;
  height: 15px;
  line-height: 15px;
  font-size: 10px;
  color: rgb(255, 179, 36)
}

.mainSiteBox {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.mainSiteBoxTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainSiteBoxTop div{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.mainSiteBoxTop div a {
  font-size: 10px;
  text-decoration: none;
}

.mainSiteBoxTop div a:visited, .mainSiteBoxTop a:active {
  color: inherit
}

.mainSiteBoxTop div a:hover {
  color: orange
}

.mainSiteBoxBottom{
  display: flex;
  justify-content: space-between;
}

.mainSiteBoxBottomLeft {
  display: flex;
  position: relative;
  height: 30px;
}

.mainSiteBoxBottomRight {
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  line-height: 30px;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
}

.mainSiteBoxBottomRight:hover{
  color: white;
  background-color: #777;
}

.mainSiteBoxBottomRightHidden {
  transform: rotate(180deg)
}



.mainSiteBoxBottomLeft a, .mainSiteBoxBottomLeft button {
  text-decoration: none;
  outline: none;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  line-height: 30px;
  margin: 0 15px;
  text-align: center;
  color: black;
  background-color: rgb(252, 189, 113);
  transition: 0.2s;
  border: none;
  cursor: pointer;
}

.mainSiteBoxBottomLeft button {
  background-color: orangered;
  color: white;
}

.buttonModern {
  position: relative;
  z-index: 2;
}

.buttonClassic {
  background-color: rgb(206, 189, 169) !important;
  position: absolute;
  z-index: 1;
  transition: 0.2s;
  transform: translateX(5px);
}

.buttonModern:hover + .buttonClassic {
  transform: translateX(22px);
}

.buttonClassic:hover {
  transform: translateX(22px);
  background-color: #8f8f8f !important;
}

.mainSiteBoxBottomLeft a:hover, .mainSiteBoxBottomLeft button:hover {
  color: white !important;
  background-color: #777;
}

.mainSiteBoxBottomLeft a:visited, .mainSiteBoxBottomLeft a:active {
  color: inherit
}  

.idBoxWrapper{
  width: fit-content;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #a0a0a0;
  transition: 0.2s;
  border-radius: 20px;
  margin-right: 5px 
}

.idBoxLabel {
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  line-height: 20px;
  font-size: 12px;
  background-color: #a0a0a0;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.idBoxLabel:hover {
  background-color: #bbb9b9;
}

.idBox {
  background-color: rgb(235, 235, 235);
  text-align: right;
  width: fit-content;
  font-size: 10px;
  max-height: 20px;
  border-radius: 10px;
  padding: 2px 5px;
  transition: 0.2s;
  cursor: copy
}

.idBox:hover {
  background-color: rgb(250, 250, 250);
}

.storageWrapper {
  color:#8f8f8f;
  font-size: 9px;
  margin-bottom: 3px;
}

.storage {
  font-size: 10px;
  color: orange
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 15px;
  left: 10px;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
}

.loader div {
  position: absolute;
  top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 8px;
  animation: loader1 0.6s infinite;
}
.loader div:nth-child(2) {
  left: 8px;
  animation: loader2 0.6s infinite;
}
.loader div:nth-child(3) {
  left: 32px;
  animation: loader2 0.6s infinite;
}
.loader div:nth-child(4) {
  left: 56px;
  animation: loader3 0.6s infinite;
}

.buttonBox {
  border-radius: 30px;
  width: fit-content !important;
  display: flex;
  justify-content: center;
  padding: 1px
}

.buttonBoxHubsite {
  background-color: rgb(253, 198, 130);
}

.buttonBoxSubsite {
  background-color: rgb(255, 221, 147);
}

.buttonBoxPage {
  background-color: rgb(255, 246, 165);
}

.buttonBoxLibrary {
  background-color: rgb(221, 209, 255);
}

.buttonBoxList {
  background-color: rgb(209, 238, 255);
}

.buttonMedium {
  text-decoration: none;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  line-height: 25px;
  font-size: 14px;
  margin: 0 3px;
  text-align: center;
  color: black;
  background-color: rgba(0,0,0,0);
  transition: 0.2s;
}

.buttonMedium:visited, .buttonMedium:active {
  color: inherit
}  

.buttonMedium:hover {
  color: white !important;
  background-color: #777;
}

.buttonMediumSite {
  background-color: rgb(253, 198, 130);
}

.buttonMediumSubsite {
  background-color: rgb(255, 221, 147);
}

.buttonMediumPage {
  background-color: rgb(255, 246, 165);
}

.buttonMediumLibrary {
  background-color: rgb(221, 209, 255);
}

.buttonMediumList {
  background-color: rgb(209, 238, 255);
}

.quickDisplay {
  position: fixed;
  bottom:0;
  right: 0;
  height: 450px;
  width: 450px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  z-index: 3;
  background-color: red;
}

.quickDisplayBlocker {
  position:absolute;
  top:0;
  left:0;
  width: 450px;
  height: 450px;
  background-color: rgba(0,0,0,0.1);
}

.quickDisplay iframe {
  width: 900px;
  height: 900px;
  transform: scale(0.5)
}

@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}