@import '~@fluentui/react/dist/sass/References.scss';


.app_wrapper {
  display: flex;
  width: 100%;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  background-color: grey;
}

.app_wrapper h2 {
  font-size: 1.8rem;
  margin: 8px;
  margin-left: 5px;
  color: orange
}

.app_navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.app_navigation button {
  outline: none;
  border: none;
  border-radius: 10px 10px 0 0;
  width: 33.3%;
  height: 30px;
  font-size: 1rem;
  border-bottom: 1px solid #ffae4b;
  position: relative;
  top: 1px;
  cursor: pointer;
  transition: 0.2s;
}

.app_navigation button:hover{
  background-color: #ffcf95;
}

.selected_site_type {
  background-color: white;
  border-top: 3px solid #ffae4b!important;
  border-left: 1px solid #ffae4b!important;
  border-right: 1px solid #ffae4b!important;
  border-bottom: 1px solid white !important;
  font-weight: 500;
  transition: 0.2s;
}

.selected_site_type:hover {
  background-color: white !important;
}

.help_link {
  background-color: grey;
  font-size: 1rem;
  padding: 1px;
  width: 17px;
  height: 17px;
  line-height: 17px;
  border-radius: 100%;
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: 0.2s;
  text-align: center;
}

.help_link:visited {
  color: white;
}

.help_link:hover {
  color: black;
  background-color: lightgrey;
}

.finished_link {
  text-decoration: none;
  background-color: white;
  padding: 5px 10px;
  border-radius: 20px;
  color: #b53ef5;
  transition: 0.2s;
}

.finished_link:visited {
  color: #b53ef5;
}

.finished_link:hover {
  background-color: #b98fcf;
  color: white
}

.finished_link_check {
  background-color: #b53ef5;
  color: white;
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  line-height: 15px;
  transition: 0.2s;
}

.finished_link:hover .finished_link_check {
  background-color: white;
  color: #b53ef5;
}

.decline_wrapper {
  display: flex;
  width: 100%;
  min-height: 700px;
  border-radius: 0 0 10px 10px;
  padding: 10px 5px;
  box-sizing: border-box;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ffae4b;
  border-left: 1px solid #ffae4b;
  border-bottom: 1px solid #ffae4b;
  background-color: white;
}

.decline_loading {
  font-size: 1.5rem;
  width: 80%;
}

.decline_msg {
  font-size: 1.5rem;
  color: red;
  width: 80%;
  padding: 5px 15px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #ffae4b ;
}

.site_wrapper {
  display: flex;
  width: 100%;
  min-height: 700px;
  border-radius: 0px 0px 20px 20px;
  padding: 10px 5px;
  box-sizing: border-box;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-around;
  border-right: 1px solid #ffae4b;
  border-left: 1px solid #ffae4b;
  border-bottom: 3px solid #ffae4b;
  background: linear-gradient(338deg,#f0f0f0,#fff 30%,#fff);
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  width: 54%;
  padding: 20px 10px 10px 5px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background-color: white;
}
    .group_header {
      margin-top: 15px;
      margin-bottom: 2px;
      font-size: 1.1rem;
      font-weight: 600; 
      color: darkorange  
    }

    .group_header_comment {
      font-size: 0.8rem;
    }

    .input_hint {
      font-size: 0.7rem;
      color: #777;
      font-weight: 100 !important;
    }

    .input_comment {
      font-size: 0.8rem;
      color: #ffae4b;
      margin-bottom: 5px
    }

    .input_comment_warning {
      font-size: 0.8rem;
      color: #ffae4b;
      margin-bottom: 5px
    }

    .form_wrapper input[type="text"] {
        height: 28px;
        outline: 0;
        border-radius: 3px;
        border: 1px solid rgb(201, 201, 201);
        border-bottom: 1px solid rgb(51, 51, 51);
    }

    .form_wrapper input[type="radio"] {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
        transform: scale(1.5);
        margin-right: 10px;
    }

    .selection_box_wrapper {
      display: flex;
      justify-content: space-between;
    }

    .selection_box {
      display: flex;
      flex-direction: column;
      padding: 10px
    }

    .selection_box span {
      margin-bottom: 10px
    }

.result_wrapper {
  display: flex;
  flex-direction: column;
  width: 44%;
  padding: 5px;
  box-sizing: border-box;
}

.result_list {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.result_list_details {
  display: flex;
  flex-direction: column;
}

.result_list_details > span:nth-child(odd) {
  margin-top: 10px;
  font-weight: 600;
}

.result_list_details > span:nth-child(even) {
  font-size: 0.8rem
}

.result_list_ct {
  display: flex;
  flex-direction: column;
}

.result_list_ct span {
  width: fit-content;
  font-size: 0.8rem;
  padding: 2px 5px;
  margin: 1px 0;
  border-radius: 1rem;
  border: 1px solid lightgray;

}

.result_progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;
  font-size: 1.2rem;
  color: grey
}

.error_message {
  font-size: 0.8rem;
  color: rgb(209, 0, 0);
}

.createSite_button_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.createSite_button {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 120px;
  height: 50px;
  font-size: 1.1rem;
  cursor: pointer;
  outline: none;
  border: none;
  background-color:#fcbd71;
  color: white;
  border-radius: 5px;
  transition: 0.2s;
}

.createSite_button:hover {
  background-color: #777;
}

.createSite_button:disabled,
.createSite_button[disabled] {
  background-color: rgb(215, 215, 215);
  color: rgb(160, 160, 160);
  cursor:not-allowed
}

//Animation
.lds_ellipsis {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 15px
}
.lds_ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: grey;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds_ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds_ellipsis1 0.6s infinite;
}
.lds_ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds_ellipsis2 0.6s infinite;
}
.lds_ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds_ellipsis2 0.6s infinite;
}
.lds_ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds_ellipsis3 0.6s infinite;
}
@keyframes lds_ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds_ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds_ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}