@import '~@fluentui/react/dist/sass/References.scss';


.app_wrapper {
  display: flex;
  width: 100%;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  background-color: grey;
}

.app_wrapper h2 {
  font-size: 2rem;
  margin: 10px;
  margin-left: 5px;
  color: orange
}

.app_navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.app_navigation button {
  outline: none;
  border: none;
  border-radius: 10px 10px 0 0;
  width: 33.3%;
  height: 30px;
  font-size: 1.05rem;
  border-bottom: 1px solid #ffae4b;
  cursor: pointer;
  position: relative;
  top: 1px;
  transition: 0.2s;
}

.app_navigation button:hover{
  background-color: #ffcf95;
}

.selected_site_type {
  background-color: white;
  border-top: 3px solid #ffae4b!important;
  border-left: 1px solid #ffae4b!important;
  border-right: 1px solid #ffae4b!important;
  border-bottom: none !important;
  height: 31px !important;
  position: relative;
  font-weight: 500;
}

.selected_site_type:hover {
  background-color: white !important;
}

.decline_wrapper {
  display: flex;
  width: 100%;
  min-height: 700px;
  border-radius: 0 0 10px 10px;
  padding: 10px 5px;
  box-sizing: border-box;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ffae4b;
  border-left: 1px solid #ffae4b;
  border-bottom: 1px solid #ffae4b;
}

.decline_loading {
  font-size: 1.5rem;
  width: 80%;
}

.decline_msg {
  font-size: 1.5rem;
  color: red;
  width: 80%;
  padding: 5px 15px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #ffae4b ;
}

.site_wrapper {
  display: flex;
  width: 100%;
  min-height: 700px;
  border-radius: 0px 0px 20px 20px;
  padding: 10px 5px;
  box-sizing: border-box;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-around;
  border-right: 1px solid #ffae4b;
  border-left: 1px solid #ffae4b;
  border-bottom: 3px solid #ffae4b;
  background: linear-gradient(338deg,#f0f0f0,#fff 30%,#fff);
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  width: 49%;
  padding: 20px 10px 10px 5px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background-color: white;
}
    .group_header {
      margin-top: 15px;
      margin-bottom: 2px;
      font-size: 1.1rem;
      font-weight: 600;   
    }

    .group_header_comment {
      font-size: 0.8rem;
    }

    .input_comment {
      font-size: 0.8rem;
      color: #ffae4b;
      margin-bottom: 5px
    }
    .form_wrapper input[type="text"] {
        height: 28px;
        outline: 0;
        border-radius: 3px;
        border: 1px solid rgb(201, 201, 201);
        border-bottom: 1px solid rgb(51, 51, 51);
    }

    .form_wrapper input[type="radio"] {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
        transform: scale(1.5);
        margin-right: 10px;
    }

    .selection_box_wrapper {
      display: flex;
      justify-content: space-between;
    }

    .selection_box {
      display: flex;
      flex-direction: column;
      padding: 10px
    }

    .selection_box span {
      margin-bottom: 10px
    }

.result_wrapper {
  display: flex;
  flex-direction: column;
  width: 49%;
  padding: 5px;
  box-sizing: border-box;
}

.result_list {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.result_list_details {
  display: flex;
  flex-direction: column;
}

.result_list_details > span:nth-child(odd) {
  margin-top: 10px;
  font-weight: 600;
}

.result_list_details > span:nth-child(even) {
  font-size: 0.8rem
}

.result_list_ct {
  display: flex;
  flex-direction: column;
}

.result_list_ct span {
  width: fit-content;
  font-size: 0.8rem;
  padding: 2px 5px;
  margin: 1px 0;
  border-radius: 1rem;
  border: 1px solid lightgray;

}

.result_progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;
  font-size: 1.2rem;
  color: grey
}

.error_message {
  font-size: 0.8rem;
  color: rgb(209, 0, 0);
}

.createSite_button_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.createSite_button {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 120px;
  height: 50px;
  font-size: 1.1rem;
  cursor: pointer;
  outline: none;
  border: none;
  background-color:#fcbd71;
  color: white;
  border-radius: 5px;
  transition: 0.2s;
}

.createSite_button:hover {
  background-color: #777;
}

.createSite_button:disabled,
.createSite_button[disabled] {
  background-color: rgb(215, 215, 215);
  color: rgb(160, 160, 160);
  cursor:not-allowed
}